.mod-dpslider-pagination {
	text-align: center;
	margin-top: 5px;
}

.mod-dpslider-pagination .swiper-pagination-switch {
	display: inline-block;
	width: 50px;
	height: 10px;
	border-radius: 10px;
	background: #999;
	box-shadow: 0px 1px 2px #555 inset;
	margin: 0 3px;
	cursor: pointer;
}
.mod-dpslider-pagination .swiper-active-switch {
	background: #fff;2f9933
}